/* override bootstrap */
html {
  font-size: 0.9rem;
}
body {
  letter-spacing: 0;
  overflow: unset !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
}
label {
  font-weight: 600;
}
.container-fluid {
  margin-bottom: 1rem;
}
.tooltip {
  font-size: 1rem;
}
.tooltip-inner {
  background: hsla(0, 100%, 50%, 1);
  box-shadow: 0 0.5rem 1rem hsla(0, 0%, 0%, 0.55);
}
.btn {
  padding: 0.5rem 1.5rem;
}
.bs-tooltip-auto[x-placement^='top'] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: hsla(0, 100%, 50%, 1);
}
.navbar {
  min-height: 60px;
  padding: 0 1rem;
}
.navbar-dark {
  background-color: black !important;
}
.navbar .navbar-nav .nav-link {
  font-weight: bold;
  border-radius: 3px;
  padding: 0.35rem 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 0.25rem;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: white;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  html {
    font-size: 1rem;
  }
  .heroImage {
    max-height: 200px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }
  .heroImage {
    max-height: 300px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 1.1rem;
  }
  .heroImage {
    max-height: 500px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    font-size: 1.2rem;
  }
  .heroImage {
    max-height: 700px;
  }
}
