/* override bootstrap */
html {
  font-size: 0.9rem;
}
body {
  letter-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
}
label {
  font-weight: 600;
}
.container-fluid {
  margin-bottom: 1rem;
}
.tooltip {
  font-size: 1rem;
}
.tooltip-inner {
  background: hsla(0, 100%, 50%, 1);
  box-shadow: 0 0.5rem 1rem hsla(0, 0%, 0%, 0.55);
}
.btn {
  padding: 0.5rem 1.5rem;
}
.bs-tooltip-auto[x-placement^='top'] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: hsla(0, 100%, 50%, 1);
}
.bg-light {
  border: 0;
  padding: 1rem;
}
.navbar-light .navbar-nav .nav-link {
  font-weight: bold;
  border-radius: 3px;
  color: black;
  padding: 0.35rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0.25rem;
}
.navbar-light .navbar-nav .nav-link:active {
  color: white;
  background: black;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  background-image: linear-gradient(hsl(0, 0%, 0%) 100%, black 100%);
  background-size: 0% 20px;
  background-position: 50% 0;
  background-repeat: repeat-y;
  animation: anim 0.4s forwards;
  color: white;
}
@keyframes anim {
  from {
    background-size: 0% 20px;
  }
  to {
    background-size: 100% 20px;
  }
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  html {
    font-size: 1rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 1.1rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    font-size: 1.2rem;
  }
}
